body {
  font-family: system-ui;
  background: #6C94B7;
  color: white;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.squeakys-head { 
  position: relative;
  margin: 0 auto;
  transform: translate(-60px);
}

.face {
  position: absolute;
  height: 120px;
  width: 120px;
  background: #666666;
  border-radius: 60px;
}

.left-ear {
  position: absolute;
	width: 0;
	height: 0;
  margin: 0 auto;
  transform: translate(90px) rotate(30deg);
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #555;
}

.right-ear {
  position: absolute;
	width: 0;
	height: 0;
  margin: 0 auto;
  transform: translate(0px) rotate(-30deg);
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #555;
}

