body {
  background: #E3D2DA;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  }

.callie_giant_face {
  position: absolute;
}

.face_circle { 
  position: absolute;
  width: 300px;
  height: 300px;
  background: #ffffff;
  border-radius: 50%;
  }

.triangle_ear_left {
  position: absolute;
  left: 40px;
  top: -100px;
  width: 0;
  height: 0;
  transform: rotate(-4deg);
  border: 0 solid transparent;
  border-bottom-width: 94px;
  border-top-width: 76px;
  border-left: 127px solid black;
  }

/* .triangle_ear_right {
  position: absolute;
  left: 52%;
  top: -5%;
  transform: rotate(7deg);
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-top-width: 94px;
  border-bottom-width: 76px;
  border-right: 127px solid black;
  } */

/* .mask {
  position: absolute;
  height: 150px;
  width: 301px;
  left: 40%;
  top: 25%;
  border-radius: 210px 210px 0 0;
  background: black;
  } */

/* .left_eye {
  position: absolute;
  width: 40px;
  height: 15px;
  left: 44%;
  top: 51%;
  background: #76B03F;
  border-radius: 135px / 95px;
  padding:15px;
 } */

/* .right_eye {
  position: absolute;
  width: 40px;
  height: 15px;
  left: 100px;
  left: 52%;
  top: 51%;
  background: #76B03F;
  border-radius: 135px / 95px;padding:15px;
  } */

/* .left_pupil {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 45.5%;
  top: 53%;
  background: #000000;
  border-radius: 50%;
 } */

/* .right_pupil {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 53.5%;
  top: 53%;
  background: #000000;
  border-radius: 50%;
 } */

/* .nose {
  position: absolute;
  width: 0;
  height: 0;
  left: 49.5%;
  top: 69%;
  border-style: solid;
  border-width: 23px 14.5px 0 14.5px;
  border-color: #6a6464 transparent transparent transparent; 
  } */

/* .mouth {
  position: absolute;
  top: 90%;
  left: 46.5%;
  height: 55px;
  width: 110px;
  border-radius: 0px 0px 120px 120px;
  background: black; 
 } */

/* .l_whisker1 {
  position: absolute;
  top: 83%;
  left: 33%;
  height: 5px;
  width: 150px;
  background-color: #555;
  } */

/* .l_whisker2 {
  position: absolute;
  top: 90%;
  left: 33%;
  height: 5px;
  width: 150px;
  background-color: #555;
  } */

/* .r_whisker1 {
  position: absolute;
  top: 83%;
  left: 57%;
  height: 5px;
  width: 150px;
  background-color: #555;
  } */

/* .r_whisker2 {
  position: absolute;
  top: 90%;
  left: 57%;
  height: 5px;
  width: 150px;
  background-color: #555;
  } */