body {
  background: #E3D2DA;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  }

.callie_giant_face {
  margin: 0 auto;
}

.face_circle {
  position: relative;
  width: 300px;
  height: 300px;
  top: 100px;
  background: #ffffff;
  border-radius: 50%;
  }

.triangle_ear_left {
  position: absolute;
  top: 0px;
  width: 0;
  height: 0;
  margin-top: 37px;
  transform: rotate(-4deg);
  border: 0 solid transparent;
  border-bottom-width: 94px;
  border-top-width: 76px;
  border-left: 127px solid black;
  }

.triangle_ear_right {
  position: absolute;
  top: 20px;
  margin-left: 160px;
  martin-top: 50px;
  transform: rotate(4deg);
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-top-width: 94px;
  border-bottom-width: 76px;
  border-right: 127px solid black;
}

.mask {
  position: absolute;
  height: 150px;
  width: 301px;
  margin-left: 0px;
  margin-top: -200px;
  border-radius: 210px 210px 0 0;
  background: black;
  z-index: 2;
  }

.left_eye {
  position: absolute;
  width: 60px;
  height: 50px;
  margin-left: 60px;
  margin-top: -130px;
  background: #76B03F;
  border-radius: 50%;
  padding:15px;
  z-index: 3;
 }

.right_eye {
  position: absolute;
  width: 60px;
  height: 50px;
  margin-left: 160px;
  margin-top: -130px;
  background: #76B03F;
  border-radius: 50%;
  padding:15px;
  z-index: 3;
  }

.left_pupil {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 165px;
  margin-top: -103px;
  background: #000000;
  border-radius: 50%;
  z-index: 4;
 }

.right_pupil {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 108px;
  margin-top: -103px;
  background: #000000;
  border-radius: 50%;
  z-index: 4;
 }

.nose {
  position: absolute;
  width: 0;
  height: 0;
  margin-left: 140px;
  margin-top: -60px;
  border-style: solid;
  border-width: 23px 14.5px 0 14.5px;
  border-color: #6a6464 transparent transparent transparent; 
  z-index: 4;
  }

.half_circle_mouth {
  position: absolute;
  width: 50px;
  height: 25px;
  margin-top: -30px;
  margin-left: 120px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  border: 10px solid #000;
  border-bottom: 0;
  z-index: 5;
}

.l_whisker1 {
  position: absolute;20px;
  margin-left: -120px;
  margin-top: -70px;
  height: 5px;
  width: 150px;
  background-color: #555;
  z-index: 4;
  }

.l_whisker2 {
  position: absolute;20px;
  margin-left: -120px;
  margin-top: -40px;
  height: 5px;
  width: 150px;
  background-color: #555;
  z-index: 4;
  }

.r_whisker1 {
  position: absolute;20px;
  margin-left: 270px;
  margin-top: -70px;
  height: 5px;
  width: 150px;
  background-color: #555;
  z-index: 4;
  }

.r_whisker2 {
  position: absolute;20px;
  margin-left: 270px;
  margin-top: -40px;
  height: 5px;
  width: 150px;
  background-color: #555;
  z-index: 4;
  }